@font-face {
     src: url(../Fonts/JosefinSans-Medium.ttf);
     font-family: jos;
}


body,
html {

     font-family: jos;
     background-color: #F5F5F5;
     color: #282C35;
     margin: auto;
     display: table;
     border: 2px solid #008B8B;
     padding: 30px 60px 30px 60px;
}





.registration {

     text-align: center;
     padding: 20px 20px 20px 20px;

}